/**

  USANDO O CSS GLOBAL

  EXERCICIO 01

  body{
  background-color: #d77d7d;
  font-size: 50px;
}

img{
  border: solid 10px #ccc;

}
    
*/
/*
  EXERCICIO 01_1
body{
  background-color: #7dd7b9;
  font-size: 20px;
}
button{
  background-color: #4d79ff;
  font-size: #ffffff;
  border: none;
}

a{
  color: #ff4d4d;
  text-decoration: none;
}
  */
/*
EXERCICIO01_2

body{
  background-color: #f0f0f0;
  font-size: 16px;
}
input{
  border-radius: 5px;
  border: solid 1px;
  color: #bbb;
  padding: 10px;
}

h{
  color: #3b3b3b;
  text-align: center;
}
  */

/*
  EXERCICIO 02

*/ 

